*{
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: azure;
    background-size: cover;
    border: #00ffff;
    box-sizing: border-box;
    
}

h3{
    text-align: center;
    text-size-adjust: 12px;
    color: blue;
}